[data-md-color-scheme='prospectory'] {
  --md-primary-fg-color: #795ff6;
  --md-primary-fg-color--light: #b5aedb;
  --md-primary-fg-color--dark: #453594;
}

[data-md-color-scheme='slate'] {
  --md-primary-fg-color: #5d4fa8;
  --md-primary-fg-color--light: #b5aedb;
  --md-primary-fg-color--dark: #423779;
  --md-hue: 210;
}

.md-header__topic {
  display: none;
}
.md-header {
  padding: 10px 0px;
}
